altgraph==0.17
asgiref==3.3.1
autopep8==1.4.4
certifi==2019.3.9
cffi==1.14.5
chardet==3.0.4
cryptography==3.4.6
defusedxml==0.6.0
djangify==1.0.0
Django==2.2
django-allauth==0.39.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
et-xmlfile==1.0.1
future==0.18.2
gunicorn==20.1.0
idna==2.8
importlib-metadata==3.4.0
jdcal==1.4.1
keyboard==0.13.5
MouseInfo==0.1.3
numpy==1.19.4
oauthlib==3.0.1
opencv-python==4.4.0.46
openpyxl==3.0.5
pefile==2019.4.18
pep8==1.7.1
Pillow==6.2.2
PyAutoGUI==0.9.52
pycodestyle==2.5.0
pycparser==2.20
PyGetWindow==0.0.9
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyJWT==2.0.1
PyMsgBox==1.0.9
pyperclip==1.8.1
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
python-decouple==3.1
python3-openid==3.1.0
PyTweening==1.0.3
pytz==2018.5
pywin32-ctypes==0.2.0
requests==2.21.0
requests-oauthlib==1.2.0
riotwatcher==3.1.1
six==1.15.0
sqlparse==0.2.4
stripe==2.27.0
typing-extensions==3.7.4.3
urllib3==1.24.2
xlrd==2.0.1
XlsxWriter==1.3.7
zipp==3.4.0